/*Generales*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #ff6700;
    --color-secundario: #ebebeb;
    --color-tercero: #c0c0c0;
    --color-cuarto: #3a6ea5;
    --color-quinto: #004e98;
}

/* Body*/
body {
    font-family: "Merriweather", serif;
    height: 100vh;
    color: black;
    background-color: var(--color-tercero);
}

.body-login {
    background-image: linear-gradient(30deg, var(--color-primario), var(--color-tercero));
}


/* Header*/
header {
    height: 10vh;
    padding: 0;
    text-align: center;
    background-color: var(--color-quinto);
}

.container-logo-texto {
    display: flex;
    align-content: center;
}

.logo-login {
    width: 10vh;
}

header .header-color {
    background-color: var(--color-quinto);
    color: white;
    
}

.navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar {
    background-color: var(--color-quinto);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.cerrar-sesion {
    background-color: var(--color-quinto);
    border-color: var(--color-quinto);
}

.cerrar-sesion:hover {
    background-color: var(--color-cuarto);
    border-color: var(--color-cuarto);
}

/* Main*/
main {
    height: calc(100vh - 20vh);    
}

main .row {
    min-height: calc(100vh - 20vh);
    align-items: stretch;
}

.central {
    min-height: 80vh;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}

.lateral {
    background-color: white;
    padding: 10px;
    border-left: 1px solid var(--color-secundario);
    border-right: 1px solid var(--color-secundario);
}

.lateral img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main h2 {
    font-weight: bold;
}

.form-control {
    box-shadow: 3px 3px 0 black;
}

.btn-primary {
    background-color: var(--color-tercero);
    border: 0;
    box-shadow: 3px 3px 5px black;
    color: black;
}

.btn-primary:hover {
    background-color: var(--color-tercero);
    border: 1px solid var(--color-tercero);
    box-shadow: 3px 3px 5px black;
}

/* Footer*/
footer {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--color-quinto);
    border-top: 5px solid white;
}

footer p {
    font-weight: bold;
    font-size: small;
    color: white;
}

@media (max-width: 767px) {
    .lateral {
        display: none;
    }
}